@page "{handler}"
@model CCT.WebAPI.Pages.LoginPageModel
@{
}

<!DOCTYPE html>
<html lang="de">
    <head>
    <meta charset="utf-8" />
    </head>
    <body>

        <h1>Einloggen</h1>

        <form method="post">
            <input autocomplete="off" type="hidden" asp-for="LastPage" />
            <div class="form-group">
                <label class="control-label">Passwort</label>
                <input autocomplete="off" asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-page-handler="Login" type="submit" value="Einloggen" class="btn btn-default" />
            </div>
            @if (Model.LabelTextWrongPassword != null)
            {
                <div class="form-group">
                    @Model.LabelTextWrongPassword
                </div>
            }
        </form>

    </body>
</html>
