@page "{handler?}"
@model CCT.WebAPI.Pages.WriteTagPageModel
@{
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>NFC-Tag beschreiben</h1>

    <form method="post">

        <div class="form-group">
            <input asp-page-handler="Write" type="submit" value="Schreibmodus" class="btn btn-default" />

            <input asp-page-handler="Read" type="submit" value="Lesemodus" class="btn btn-default" />
        </div>
        <div class="form-group">
            <label class="control-label">Vorname</label>
            <input autocomplete="off" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Nachname</label>
            <input autocomplete="off" asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Telefonnummer</label>
            <input autocomplete="off" asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Geimpft: </label>
            @Html.CheckBoxFor(model => model.IsVaccinated)
        </div>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>
                <label class="text-danger">@Model.ErrorMessage</label>
            </div>
        }

        <div class="form-group">
            <input asp-page-handler="" type="submit" value="Tag beschreiben" class="btn btn-default" />

            <input asp-page-handler="Reset" type="submit" value="Löschen" class="btn btn-secondary" />
        </div>


    </form>
</body>
</html>